<template>
  <div id="shopping-lists">
    <ShoppingListsItems v-for="item in shopping.lists" v-bind:key="item.id" v-bind:index="item.id" v-bind:data="item"></ShoppingListsItems>
  </div>
</template>


<script>
  import ShoppingListsItems from '@/components/lists/items/ShoppingListsItems.vue';

  export default {
    name: 'ShoppingLists',
        data : function() {
            return {
                shopping : JSON.parse(localStorage.getItem('shopping'))
            }
        },
    components: {
        ShoppingListsItems
    }
  }
</script>

<style>
</style>
