<template>
  <div id="list-items">
    <ToBuyListsItems v-for="item in shopping.lists.filter(list => list.id == this.$route.params.id)[0].items" v-bind:key="item.id" v-bind:index="item.id" v-bind:data="item"></ToBuyListsItems>
  </div>
</template>


<script>
  import ToBuyListsItems from '@/components/lists/items/ToBuyListsItems.vue';

  export default {
    name: 'ToBuyLists',
        data : function() {
            return {
                shopping : JSON.parse(localStorage.getItem('shopping'))
            }
        },
    components: {
        ToBuyListsItems
    },
    methods : {}
  }
</script>

<style>
</style>
