
    .list-header {
        display: flex;
        justify-content: center;
        margin: 3vh;
    }

    .items {
        margin: 1.5vh auto;
        align-items: center;
        border-radius:10px;
        padding: 10px;
        transition-duration: 0.2s;
    }
    .items:hover {
        border-width: 0.1em;
        border-style : solid;
        border-color :  #bbbbbb;
        box-shadow: 12px 5px 5px #bbbbbb;
        transition-duration: 0.2s;

    }