<template>
  <div class="home">
    <div class="list-header">
        <h1>Localisez un magasin</h1>
    </div>
    <!-- <Map></Map> -->
    <LeaMap></LeaMap>
  </div>
</template>


<script>
    // import Map from '@/components/Map.vue'
    import LeaMap from '@/components/LeaMap.vue'

    export default {
    name: 'FindStore',
        components : {
            // Map,
            LeaMap
        }
    }
</script>