<template>
  <div class="home">
    <h1>Ma Shopping List</h1>
    <p>
      Il s'agit ici d'un site de gestion en ligne de sa <strong>liste de course</strong>.
      Vous pourrez ajouter des éléments dans votre liste et gérer plusieurs listes à la fois.
    </p>
    <img src="@/assets/shopping.gif" />
  </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>
