<template>
    <div class='form-container'>
        <h1>Nouvelle élément de liste :</h1>
        <ItemForm ></ItemForm>
    </div>
    
</template>

<script>
    import ItemForm from '@/components/forms/ItemForm.vue'
    export default {
        name: 'ListForm', 
        components : {
            ItemForm
        }
    }
</script>

<style>
</style>