<template>
  <div class="listing">
    <div class='list-header'>
        <h1 id='title'>Vos Listes</h1>
        <router-link to="/new"><input id='add-button' class='btn btn-warning' type='button' value='+'/></router-link>
    </div>
    <ShoppingLists></ShoppingLists>
  </div>
</template>

<script>
    import ShoppingLists from '@/components/lists/ShoppingLists.vue'

    export default {
    name: 'Listing', 
        components : {
            ShoppingLists
        }
    }
</script>

<style>

    #title {
        margin : auto;
    }

    #add-button {
        height: 40px;
        width: 40px;
    }
</style>