<template>
    <div class='form-container'>
        <h1>Nouvelle liste</h1>
        <ShoppingListForm ></ShoppingListForm>
    </div>
    
</template>

<script>
    import ShoppingListForm from '@/components/forms/ShoppingListForm.vue'
    export default {
        name: 'ListForm', 
        components : {
            ShoppingListForm
        }
    }
</script>

<style>
</style>