<template>
  <div class="listing">
    <div class='list-header'>
        <h1 id='title'>Liste : {{  shopping.lists.filter(list => list.id == this.$route.params.id)[0].title }}</h1>
        <router-link :to="'/list/'+$route.params.id+'/add'"><input id='add-button' class='btn btn-warning' type='button' value='+'/></router-link>
    </div>
    <ToBuyLists></ToBuyLists>
  </div>
</template>

<script>
  import ToBuyLists from '@/components/lists/ToBuyLists.vue';

  export default {
    name: 'List',
        data : function() {
            return {
                shopping : JSON.parse(localStorage.getItem('shopping'))
            }
        },
    components: {
        ToBuyLists
    }
  }
</script>

<style>
</style>