<template>
    <div class='footer text-center p-3'>
        <p>Made by © Erwann Fiolet </p>
    </div>
</template>



<script>
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .footer {
        position: fixed; 
        bottom: 0; 
        width:70vw;
        background-attachment: scroll;
        background-color: white;
    }
</style>

