<template>
    <div class='header'>
        <router-link to="/"><img class='logo' :src="logo"></router-link>
        <div id='nav'>
            <router-link to="/">Accueil</router-link> 
            <router-link to="/listing">Vos listes</router-link> 
            <router-link to="/map">Nous trouver ?</router-link> 
        </div>
    </div>
</template>



<script>
export default {
    name: 'Header',
    data: function() {
        return { 
            logo : require("@/assets/caddie-logo.png")
        }
    }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#nav {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-size : 1.5em;
}
.nav a {
    margin: auto 0;
}
.logo {
    height: 100px;
}


#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


</style>

