<template> 
    <div id="container">
      <span v-if="loading">Loading...</span>
    <l-map
      :zoom="zoom"
      :center="center"
      style="height: 500px; width: 100%"
    >
      <l-tile-layer
        :url="url"
        :attribution="attribution"
      />
      <l-geo-json :geojson="geojson"></l-geo-json>
    </l-map>
    </div>
</template>


<script>
    // import { latLng } from "leaflet";
    import { LMap, LTileLayer,  LGeoJson } from "vue2-leaflet";
    import 'leaflet/dist/leaflet.css';


    export default {
        name: "LeaMap",
        components : {
            LMap,
            LTileLayer,
            // LMarker,
            LGeoJson 
        },
        data() {
            return {
                loading: false,
                show: true,
                enableTooltip: true,
                zoom: 6,
                center: [48, -1.219482],
                geojson: null,
                fillColor: "#e4ce7f",
                url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                attribution:
                    '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            };
        },
        created () {
            this.loading = true;
            const response = this.fetchJSON('../assets/map.geojson').then(function(data) { return data }).then(function(data) {console.log(data) });
            console.log(response);
            const data = response;
            // const response = await fetch("https://rawgit.com/gregoiredavid/france-geojson/master/regions/pays-de-la-loire/communes-pays-de-la-loire.geojson")
            // const data = await response.json();
            this.geojson = data;
            console.log(this.geojson);
            this.loading = false;
        },
        methods : {
            fetchJSON: function(url) {
                return fetch(url).then(function(response) {
                    console.log( response.json());
                    return response.json();
                });
            }
        }
    };
</script>

<style>
  .wrapper {
    max-width: 70%;
    margin: 0 auto;
  }

</style>