<template>
    <div id="app">
          <div class='wrapper'>
            <ejs-maps :zoomSettings='zoomSettings' :centerPosition='centerPosition'>
                <e-layers>
                    <e-layer :layerType='layerType'  :markerSettings='markerSettings'>
                    </e-layer>
                </e-layers>
            </ejs-maps>
        </div>
    </div>
</template>


<script>
    import Vue from 'vue';
    import { MapsPlugin, Zoom,  Marker } from '@syncfusion/ej2-vue-maps';
    
    Vue.use(MapsPlugin);    
    export default {
        data () {
            return{
                zoomSettings: {
                    enable: true,
                    zoomFactor:10, 
                    zoomLevel : 2,  
                    mouseWheelZoom : true
                },
                centerPosition: {
                    latitude: 50.78559,
                    longitude: 1.75
                },
                markerSettings: [
                    {
                        dataSource:[
                            { latitude: 50.95821, longitude: 1.85347, name:'Calais 1' },
                            { latitude: 50.95703, longitude: 1.86666, name:'Calais 2' },
                            { latitude: 50.72531, longitude: 1.63174, name:'Boulogne-sur-mer'}
                        ] ,
                        visible: true
                    },
                ],
                layerType: 'OSM'
            }
        },
        provide: {
            maps: [ Marker, Zoom ]
        }
    }
</script>

<style>
  .wrapper {
    max-width: 70%;
    margin: 0 auto;
  }

</style>