<template>
    <div :id="'shopping-item-'+index" class="items shopping-lists-items">
        <router-link class="link" :to="'/list/'+ index" >
            <div class="icon-div">
                <img class='icon' :src="icon">
            </div>
            <div class="info-list">
                <h3><strong>{{ data.title }}</strong></h3>
                <h3>{{ data.description }}</h3>
                <p>
                    Nombre d'objets dans la liste : {{ data.items.length }}
                </p>
            </div>
        </router-link>
        <div class="button">
            <button id='add-button' class='btn btn-danger' type='button' v-on:click="deleteItem()">X</button>
        </div>
    </div>
</template>


<script>
  export default {
    name: 'ShoppingListsItems',
    props: {
      index : Number,
      data: Object
    }, 
    data : function () {
        return {
            icon : require("@/assets/bag-icon.png")
        }
    },
    components: {
    }, 
    methods : {
        deleteItem: function () {
            let shopping = JSON.parse(localStorage.getItem('shopping'));
            let ind = shopping.lists.map(function(e) { return e.id; }).indexOf(this.index);
            shopping.lists.splice(ind, 1);
            localStorage.setItem('shopping', JSON.stringify(shopping));
            document.getElementById("shopping-item-" + this.index).style.display = "none";
        }
    }
  }
</script>

<style>
    .icon {
        height: 100px;
    }

    .icon-div {
        width:50%;
    }
    .info-list {
        width:50%;
    }
    .shopping-lists-items {
        justify-content: space-evenly;
        width:66%;
        display: flex;
    }
    .link {
        justify-content: center;
        color: inherit; 
        text-decoration: inherit;
        display: flex;

        /* Disposition */
        flex-grow:2;
    }
    .link:hover {
        color: inherit; 
        text-decoration: inherit;

    }
    .button {
        width:33%;
    }
</style>
