<template>
    <div :id="'to-buy-item-'+index" class="items tobuy-lists-items">
        <button id='add-button' class='btn btn-danger' type='button' v-on:click="deleteItem()" >X</button>
        <div class='desc'>
            <h3><strong>{{ data.name }}</strong></h3>
            <h3>{{ data.quantity }}</h3>
        </div>
    </div>
</template>


<script>
  export default {
    name: 'ToBuyListsItems',
    props: {
      index : Number,
      data: Object
    },
    methods: {
        deleteItem: function() {
            let shopping = JSON.parse(localStorage.getItem('shopping'));
            let indexList = shopping.lists.map(function(e) { return e.id; }).indexOf(parseInt(this.$route.params.id,10));
            let indexItem = shopping.lists[indexList].items.map(function(e) { return e.id; }).indexOf(this.index);
            shopping.lists[indexList].items.splice(indexItem, 1);
            localStorage.setItem('shopping', JSON.stringify(shopping));
            document.getElementById("to-buy-item-"+this.index).style.display = "none";
        }
    }
  }
</script>

<style>
    .tobuy-lists-items {
        display: flex;
        justify-content: center;
        width: 40vw;
    }
    .desc {
        margin: auto;
    }
</style>
