<template>
    <form @submit="checkForm" >
        <div class="form-group row">
            <label class='col-sm-2 col-form-label' for="name">Nom de l'objet</label>
             <div class="col-sm-10">
                <input class='form-control' id="name" v-model="item.name" type="string" name="name">
            </div>
        </div>
        <div class="form-group row">
            <label class=' col-sm-2 col-form-label' for="quantity">Quantité</label>
            <div class="col-sm-10">
                <input class='form-control' id="quantity" v-model="item.quantity" type="number" name="quantity">
            </div>
        </div>
        <div>
            <input class='btn btn-success' type="submit" value='Créer'/>
        </div>
    </form>
</template>

<script>

    export default {
        name: 'ListForm', 
        data : function() {
            return {
                shopping: {
                    lists: []
                },
                item: {
                    id: null,
                    name : null,
                    quantity: null
                } 
            }
        },
        methods : {
            checkForm: function (e) {
                if (this.item.name && this.item.quantity) {
                    this.saveForm();
                }

                this.errors = [];

                if (!this.item.name) {
                    this.errors.push('Name required.');
                }
                if (!this.item.quantity) {
                    this.errors.push('Quantity required.');
                }

                e.preventDefault();
                if (this.errors.length == 0) {
                    this.$router.push('/list/'+this.$route.params.id);
                }
            },
            saveForm: function() {
                if (localStorage.getItem('shopping')) {
                    this.shopping = JSON.parse(localStorage.getItem('shopping'));
                }
                let list = this.shopping.lists.filter(item => item.id == this.$route.params.id);
                let indexList = this.shopping.lists.map(function(e) { return e.id; }).indexOf(parseInt(this.$route.params.id,10));
                this.item.id = this.getNextId(list[0].items);
                this.shopping.lists[indexList].items.push(this.item);
                localStorage.setItem('shopping', JSON.stringify(this.shopping));
            },
            getNextId: function(obj) {
                let id;
                if (obj.length > 0) {
                    id = Math.max.apply(Math, obj.map(function(o) { return o.id; }))
                } else {
                    id = 0
                }
                return id + 1;
            }
        }
    }
</script>

<style>

</style>