<template>
    <form @submit="checkForm" >
        <div class="form-group row">
            <label class='col-sm-2 col-form-label' for="title">Nom de la liste</label>
             <div class="col-sm-10">
                <input class='form-control' id="title" v-model="list.title" type="string" name="title">
            </div>
        </div>
        <div class="form-group row">
            <label class=' col-sm-2 col-form-label' for="description">Description</label>
            <div class="col-sm-10">
                <input class='form-control' id="description" v-model="list.description" type="string" name="description">
            </div>
        </div>
        <div>
            <input class='btn btn-success' type='submit' value='Créer'/>
        </div>
    </form>
</template>

<script>

    export default {
        name: 'ShoppingListForm', 
        data : function() {
            return {
                shopping: {
                    lists: []
                },
                list: {
                    id: null,
                    title : null,
                    description : null,
                    items: []
                }
            }
        },
        methods : {
            checkForm: function (e) {
                if (this.list.title && this.list.description) {
                    this.saveForm();
                    return true;
                }

                this.errors = [];

                if (!this.list.title) {
                    this.errors.push('Title required.');
                }
                if (!this.list.description) {
                    this.errors.push('Description required.');
                }

                e.preventDefault();
                if (this.errors.length == 0) {
                    this.$router.push('/listing');
                }
            },
            saveForm: function() {
                if (localStorage.getItem('shopping')) {
                    this.shopping = JSON.parse(localStorage.getItem('shopping'));
                }
                this.list.id = this.getNextId(this.shopping.lists);
                this.shopping.lists.push(this.list);
                localStorage.setItem('shopping', JSON.stringify(this.shopping));
            },
            getNextId: function(obj) {
                let id;
                if (obj.length > 0) {
                    id = Math.max.apply(Math, obj.map(function(o) { return o.id; }))
                } else {
                    id = 0
                }
                return id + 1;
            }
        }
    }
</script>

<style>

</style>